<% provide( :title, @member.first_name ) %>
<div class="row">
  <aside class="col-md-4">
    <h1><%= @member.first_name %> <%= @member.last_name %></h1>
    <h2><%= @member.address_line_one %></h2>
    <% if @member.address_line_two.present? %>
      <h2><%= @member.address_line_two %></h2>
    <% end %>
    <h2>Total Weight: <%= @member_weight %></h2>
  </aside>
  <div class="col-md-8">
    <ol class="users list-group">
      <% # For each @member render the _member.html.erb partial %>
      <!-- could list weight logs here -->
    </ol>

    <%= form_for([:user, @weight]) do |f| %>

      <%= f.hidden_field :member_id, :value => @member.id %>

      <%= f.label :weight %>
      <%= f.number_field :weight, class: 'form-control', id: 'weight_log_input' %>

      <%= f.submit "Log weight", class: "btn btn-primary" %>
    <% end %>

    <div class="btn-group btn-group-justified" id="weight_buttons" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" id="+50">+50</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" id="+10">+10</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" id="+5">+5</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-success" id="+1">+1</button>
      </div>
    </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger" id="-50">-50</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger" id="-10">-10</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger" id="-5">-5</button>
      </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-danger" id="-1">-1</button>
      </div>
    </div>

  </div>
</div>
